@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    width: 100%;
    background-color: #ededed;
}

.header {
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 10%;
}
select {
    width: 150px;
    border-radius: 5px;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    border: solid 1px rgb(215, 215, 215);
}

.container {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.item {
    width: 260px;
    height: auto;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 11px;
    background: #fff;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    cursor: pointer;
    position: relative;
}
.item:hover {
    box-shadow: 6px 6px 12px #3e9211b3, -6px -6px 12px #ffffff;
}

.item-title {
    padding: 0 15px 10px 15px;
}

.item-image {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 50%;
    height: auto;
}

.item-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.item-price {
    font-size: 20px;
    font-weight: 700;
    color: rgb(38, 38, 124);
    padding-left: 40px;
}

.fade {
    opacity: 0.5;
}

.noscroll {
    overflow: hidden;
}

.disabled {
    pointer-events: none;
}

.hide {
    display: none !important;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 60%;
    left: 50%;
    background: linear-gradient(0deg, rgba(93, 228, 9, 0.438) 33%, #79ff18 100%);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    z-index: 100;
}
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #ecffd299;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.basket a {
   text-decoration: none;
}

.plus-icon {
   position: absolute;
    bottom: 3%;
    right: 10%;
}


.basket:hover {
    filter: opacity(0.8);
}

.card-container {
    max-width: 400px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 32%;
    padding: 10px 25px;
    z-index: 100;
}

.item-add {
    width: 25px;
}

.item-add:hover {
    transform: scale(1.1);
    filter: opacity(0.8);
}

.ph{
    font-size: 42px;
    color: #50b30afa;
    transition: all 0.3s;
}

.ph:hover{
    filter: brightness(120%);
    transform: scale(1.1);
}

.ph:active{
    
    transform: scale(0.9);
}

.cart-container{
    max-width: 500px;
    width: 100%;
    position: fixed;
    top: 10%;
    left: 46%;
    z-index: 100;
    height: auto;
    margin: 15px;
    border-radius: 11px;
    background: #fff;
    box-shadow: 6px 6px 12px #45c7047e, -6px -6px 12px #45c7047e;
}

.cart-list {
    padding-left: 15px;
}

.cart-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}


.cart-item::before{
    content: "";
    width: 90%;
    border: solid 1.5px #d5d5d5bf;
    border-radius: 5px;
    position: absolute;
    bottom: -12%;
    filter: hue-rotate(90deg);
    margin: 5px 0;
}

.cart-item-title{
    margin: 5px;
}

.cart-item-price{
    text-align: right;
}


.img-container{
    margin: 0 10px;
    max-width: 70px;
    height: 80px;
}

.img-container img {
  max-width: 100%;
  height: auto;
}

.cart-trash{
    font-size: 32px;
    cursor: pointer;
}

.cart-total{
    text-align: right;
    font-weight: 700;
    font-size: 22px;
    padding-right: 22%;
}