.item {
    width: 260px;
    height: auto;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 11px;
    background: #fff;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    cursor: pointer;
    position: relative;

        &:hover {
        box-shadow: 6px 6px 12px #3e9211b3, -6px -6px 12px #ffffff;
    }
}


.item-title {
    padding: 0 15px 10px 15px;
}

.item-image {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

        img {
            max-width: 50%;
            height: auto;
        }
}

.item-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.item-price {
    font-size: 20px;
    font-weight: 700;
    color: rgb(38, 38, 124);
    padding-left: 40px;
}


 .icon-position {
   position: absolute;
    bottom: 4%;
    right: 8%;
    transition: all 0.3s;

     &:hover {
        transform: scale(1.1);
        filter: opacity(0.8);
    }

     &:active {
        transform: scale(0.9);
        
    }
 }

 .ph-magnifying-glass{
    font-size: 32px;
 }

.card-container {
    max-width: 400px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 32%;
    padding: 10px 25px;
    z-index: 100;
}


